alembic
blinker
click
colorama
dnspython
email-validator
Flask
Flask-Markdown
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
